
a:link {
    color: rgb(255, 255, 255);
   }
   
   a:hover {
    color: rgb(255, 255, 255);
   }

p{
font-size: 14px;
color: #494949;
}
h3{
    color: #D9206E;
}

.task-cont{

   margin-left: 50px;
   border-radius: 0px 20px 20px 0px;
   margin-right: 0px;
   padding-top: 40px;
}
.main-box{
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 100%;
    border-radius: 20px;

}

.logo{
    background-color: #D9206E;
    min-width: 105px;
    padding: 8px 10px 10px 15px;
    border-radius: 20px 0px 0px 0px;
}

.menu{
    text-align: center;
    padding-top: 20px;
    min-height: 100%;

    padding-left: 10px;
    background-color: #0a81af;
    min-width: 105px;
    color: white;
   
    
    border-radius: 0px 0px 0px 20px;
}

.filter{
    margin-top: 30px;
}

.ico{

    width: 20%;
}

.list-task{
    align-content: center;

    border-right: 1px solid rgb(188, 188, 188);
    padding-top: 40px;
    margin-left: 50px;
    display: inline-block !important; 
}
.title{
    width: 50%;
    float: left;

    
}
.add-new{
    margin-top: 40px;
    padding-right: 100px;

}
.profile-box {
    background-color: #aaa;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: relative;
    border: white 3px;
}

.img-profile {

    width: 90px;
    height: 90px;
    width: 100%;
    object-fit: cover;
}

.item-title{    
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: #831414;
}

.items{
    padding: 30px 30px 5px 30px;
    
}
.test{
    background-color: #D9206E;
}

